In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('glassdoor_jobs.csv')

In [4]:
df

,job_title,salary_estimate,job_description,rating,company_name,location,job_age,size,founded,type_of_ownership,...,avg_salary,company_age,python_yn,r_yn,spark_yn,aws_yn,pytorch_yn,tf_yn,ml_yn,experience_level
0,"JUNIOR DATA SCIENTIST - Dubai, UAE",-1,"Location: Dubai, UAE (We provide visa sponsors...",-1.0,"Cobblestone Energy, Dubai - UAE.",Sharjah,30d+,-1,-1,-1,...,60000.0,-1,0,0,0,0,0,0,0,1
1,"SENIOR DATA SCIENTIST - Dubai, UAE",-1,Employment type: Full-time & Permanent\nReport...,5.0,Cobblestone\n5.0,Dubai,10d,1 to 50 Employees,-1,Company - Private,...,115000.0,-1,0,0,0,0,0,0,0,2
2,Research Scientist,AED 20K - AED 25K (Employer est.),Research Scientist Position Description\nGener...,3.6,Khalifa University\n3.6,Abu Dhabi,24h,501 to 1000 Employees,2007,College / University,...,22500.0,16,0,0,0,0,0,0,0,0
3,Senior Data Scientist - Remote,AED 32K - AED 40K (Employer est.),"Launched in 2019, Binance.US is the fastest gr...",3.5,Binance.us\n3.5,Dubai,30d+,501 to 1000 Employees,2019,Company - Private,...,36000.0,4,0,0,0,0,0,0,0,2
4,Senior Data Scientist,-1,"Senior Data Scientist - Onsite - Dubai, UAE - ...",-1.0,Databuzz Ltd,Dubai,23d,Unknown,-1,Company - Public,...,200000.0,-1,0,0,0,0,0,0,0,2
5,LEAD DATA SCIENTIST,-1,Employment type: Full-time & Permanent\nReport...,3.8,Cobblestone Energy Ltd\n3.8,Dubai,13d,51 to 200 Employees,2017,Company - Private,...,150000.0,6,0,0,0,0,0,0,0,2
6,"LEAD DATA SCIENTIST - Dubai, UAE",-1,Employment type: Full-time & Permanent\nReport...,5.0,Cobblestone\n5.0,Dubai,30d+,1 to 50 Employees,-1,Company - Private,...,175000.0,-1,0,0,0,0,0,0,0,2
7,Data Analytics Expert,AED 50K (Employer est.),Proven working experience in data science and ...,-1.0,Executive Source HR Consultancy,Abu Dhabi,30d+,-1,-1,-1,...,50000.0,-1,0,0,0,0,0,0,1,2
8,Sr. Machine learning engineer.,AED 10K - AED 30K (Employer est.),Who we are?\nDezzex uses Artificial Intelligen...,-1.0,Dezzex,Dubai,30d+,Unknown,-1,Company - Public,...,20000.0,-1,0,0,0,0,0,1,1,0
9,Business Intelligence Expert,AED 25K (Employer est.),Translate business needs to technical specific...,3.1,Reach Employment Services\n3.1,Abu Dhabi,30d+,5001 to 10000 Employees,-1,Company - Private,...,25000.0,-1,0,0,0,0,0,0,0,2
10,Data Scientist,-1,The Role\nPosition Title: Data Scientist Emplo...,3.6,RTC-1 Employment Services\n3.6,Dubai,30d+,1 to 50 Employees,-1,Company - Private,...,30000.0,-1,1,0,0,0,0,0,1,0
11,Data Insight Analyst,AED 4K - AED 6K (Employer est.),Job description\nWe are looking for someone in...,-1.0,Kazix Project Management Services,Dubai,3d,-1,-1,-1,...,5000.0,-1,0,0,0,0,0,0,0,0
12,Data Analyst,AED 5K - AED 6K (Employer est.),Roles & Responsibilities\nPreparing reports th...,-1.0,Metworld DMCC,Dubai,4d,-1,-1,-1,...,5500.0,-1,0,0,0,0,0,0,0,0
13,Data Analyst,AED 2K - AED 2K (Employer est.),Education : Bachelor\nExperience : Expert in E...,3.5,Xad Technologies LLC\n3.5,Abu Dhabi,30d+,201 to 500 Employees,-1,Company - Private,...,2000.0,-1,0,0,0,0,0,0,0,0
14,marketing Data Analyst,AED 4K - AED 5K (Employer est.),Collect data on competitors' marketing tactics...,-1.0,Aldaem information technology,Dubai,3d,-1,-1,-1,...,4250.0,-1,0,0,0,0,0,0,0,0
15,School Data Analyst,AED 4K - AED 6K (Employer est.),Manage and maintain the smooth operation of th...,-1.0,Raffles International School,Dubai,30d+,-1,-1,-1,...,5000.0,-1,0,0,0,0,0,0,0,0
16,"JUNIOR ANALYST - Dubai, UAE",-1,Employment type: Full-time & Permanent\nStarti...,-1.0,"Cobblestone Energy, Dubai - UAE.",Sharjah,30d+,-1,-1,-1,...,60000.0,-1,0,0,0,0,0,0,0,1
17,Financial Analyst for Business Set- Up,AED 8K - AED 13K (Employer est.),"Job responsibilities:\nCollecting, interpretin...",-1.0,A&A Associates,Abu Dhabi,30d+,-1,-1,-1,...,10500.0,-1,0,0,0,0,0,0,0,0
18,Data Analyst,AED 4K - AED 5K (Employer est.),We are looking for a strong Data Analyst to he...,-1.0,Pure Magic Exhibition & Conference Organizing,Dubai,13d,-1,-1,-1,...,4500.0,-1,0,0,0,0,0,0,0,0
19,Data Analyst (Economic Data Analysis),AED 18K (Employer est.),Economics education – min undergraduate qualif...,3.1,Reach Employment Services\n3.1,Abu Dhabi,30d+,5001 to 10000 Employees,-1,Company - Private,...,18000.0,-1,1,0,0,0,0,0,0,0
20,Data Analyst,AED 18K (Employer est.),Experience required 3+ years minimum\nExperien...,3.1,Reach Employment Services\n3.1,Abu Dhabi,30d+,5001 to 10000 Employees,-1,Company - Private,...,18000.0,-1,0,0,0,0,0,0,0,0
21,Analyst,AED 5K (Employer est.),Job Responsibilities:\n1. Market Research and ...,-1.0,BIG WAVE INFOTECH,Dubai,30d+,-1,-1,-1,...,5000.0,-1,0,0,0,0,0,0,0,0
22,Financial Analyst,AED 7K - AED 10K (Employer est.),"Analyst job profile\nThe analyst gathers, inte...",5.0,Stallion HR Solutions\n5.0,Dubai,1 day ago,Unknown,-1,Company - Public,...,8500.0,-1,0,0,0,0,0,0,0,0
23,QC Analyst,AED 8K - AED 12K (Employer est.),We are looking for QC Analys for our Dubai Hea...,-1.0,ECC Group,Dubai,30d+,-1,-1,-1,...,10000.0,-1,0,0,0,0,0,0,0,0
24,Research Analyst for Due Diligence and Investi...,-1,"Pacific Strategies & Assessments – Dubai, Unit...",3.5,Pacific Strategies & Assessments (PSA)\n3.5,Dubai,30d+,51 to 200 Employees,-1,Unknown,...,13000.0,-1,0,0,0,0,0,0,0,0
25,Junior Analyst - Dubai,-1,"Junior Analyst Roles\nPackage: 25,000 – 30,000...",4.6,Tiger Recruitment Ltd\n4.6,Dubai,21d,1 to 50 Employees,-1,Company - Public,...,27500.0,-1,0,0,0,0,0,0,0,1
26,product research analyst,AED 4K - AED 5K (Employer est.),Product analysts perform market research and a...,-1.0,Aldaem information technology,Dubai,3d,-1,-1,-1,...,4250.0,-1,0,0,0,0,0,0,0,0
27,Data Analyst,-1,<BACK TO JOBS\n\nJob Code: 147/001/763\n\nLoca...,4.8,Agile Consultants\n4.8,Dubai,30d+,1 to 50 Employees,2017,Company - Private,...,12500.0,6,0,0,0,0,0,0,0,0
28,Investment Advisor,AED 5K - AED 6K (Employer est.),Investment Advisor\nCompany Name:Client First ...,-1.0,Client First Management Consultancy,Dubai,11d,-1,-1,-1,...,5500.0,-1,0,0,0,0,0,0,0,0
29,Business Analyst - Smart City,AED 15K (Employer est.),Language: English & Arabic (Must)\nGather busi...,3.1,Reach Employment Services\n3.1,Abu Dhabi,30d+,5001 to 10000 Employees,-1,Company - Private,...,15000.0,-1,0,0,0,0,0,0,0,0
30,E-commerce business analyst,AED 5K - AED 6K (Employer est.),· Determining the company's e-commerce goals.\...,3.5,GIBRALTAR TECHNOLOGIES LLC\n3.5,Dubai,30d+,Unknown,-1,Company - Public,...,5500.0,-1,0,0,0,0,0,0,0,0
31,Artificial Intelligence / Machine Learning Expert,AED 10K (Employer est.),Have an end-to-end hands-on ownership of ML fe...,3.1,Reach Employment Services\n3.1,Abu Dhabi,30d+,5001 to 10000 Employees,-1,Company - Private,...,10000.0,-1,0,0,0,1,0,0,1,2
32,Data Collection - Image,AED 44.00 Per Hour(Employer est.),Job Description - Images Collection Project\nM...,-1.0,WOW AI LLC,Dubai,30d+,-1,-1,-1,...,44.0,-1,0,0,0,0,0,0,0,0
33,Data Specialist,AED 20K (Employer est.),Specialist\n9 years of IT Experience and minim...,3.1,Reach Employment Services\n3.1,Abu Dhabi,30d+,5001 to 10000 Employees,-1,Company - Private,...,20000.0,-1,0,0,0,0,0,0,1,0
34,Faculty - Cyber Law & Cyber Security,AED 150.00 Per Hour(Employer est.),"About Exeed College\nExeed College, envisioned...",-1.0,Exeed College,Sharjah,30d+,-1,-1,-1,...,150.0,-1,0,0,0,0,0,0,0,0